.modal-animate {
  animation: modalAnimate ease-in-out 0.3s forwards;
}

@keyframes modalAnimate {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
