.recipe-upload__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.recipe-upload__cont h2{
    font-size: 40px;
    font-weight: 600;
}
.recipe-upload__cont form{
    max-width: 800px;
    background: #fff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap:30px;
}
.recipe-upload__cont form > div{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.recipe-upload__cont form > div > label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.recipe-upload__cont form > div:nth-child(4) h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.recipe-upload__cont form > div:nth-child(4)>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.recipe-upload__cont form > div:nth-child(4)>div>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recipe-upload__cont form > div:nth-child(4)>div h4{
    font-size: 20px;
    font-weight: 600;
}
.recipe-upload__cont form > div:nth-child(4)>div label{
    font-size: 18px;
}
.recipe-upload__cont form > div:nth-child(4)>div textarea{
   max-width: 800px;
    height: 200px;
    border: 1px solid var(--ck-subTxt);
    border-radius: 15px;
    padding: 10px;
    resize: none;
}
.recipe-upload__cont form > div:nth-child(4) button{
    background-color: var(--ck-orange-pretty);
    color:var(--ck-white);
    font-size: 16px;
    font-weight: 500;
    transition: background-color ease-in-out 0.2s;
}
.recipe-upload__cont form > div:nth-child(4) button:hover{
    background-color: var(--ck-orange);
}

.recipe-upload__cont form button:last-child{
    background-color: var(--ck-orange-pretty);
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 0;
    transition: background-color ease-in-out 0.2s;
}
.recipe-upload__cont form button:last-child:hover{
    background-color: var(--ck-orange-dark);
}

