@import "tailwindcss";
/* custom style */
@import "./styles/auth/formLayout.css";
@import "./styles/auth/authMode.css";
@theme {
  --ck-white: #efefef;
  --ck-green-light: #79c368;
  --ck-green: #3f7d58;
  --ck-green-dark: #277b40;
  --ck-red: #ec5228;
  --ck-red-dark: #da423a;
  --ck-orange-pretty: #ff7f32;
  --ck-orange: #ef9651;
  --ck-orange-dark: #e27150;
  --ck-subTxt: #9d9d9d;
  --ck-subTxt-dark: #666666;
  --ck-txt: #434343;
}

html,
body {
  height: 100dvh;
}

legend {
  width: 0px;
  height: 0px;
  opacity: 0;
  scale: 0;
}

#root {
  height: 100%;
}
