@import "tailwindcss";
/* custom style */
@import "./styles/auth/formLayout.css";
@import "./styles/auth/authMode.css";
@import "./styles/auth/authBgImg.css";
@import "./styles/components/header.css";
/* animate*/
@import "./styles/shared/modal.css";

@theme {
  --ck-white: #efefef;
  --ck-green-light: #79c368;
  --ck-green: #3f7d58;
  --ck-green-dark: #277b40;
  --ck-red: #ec5228;
  --ck-red-dark: #da423a;
  --ck-orange-pretty: #ff7f32;
  --ck-orange: #ef9651;
  --ck-orange-dark: #e27150;
  --ck-subTxt: #9d9d9d;
  --ck-subTxt-dark: #666666;
  --ck-txt: #434343;
}

html,
body {
  height: 100dvh;
  background-color: var(--ck-white);
  color: var(--ck-txt);
}

legend {
  width: 0px;
  height: 0px;
  opacity: 0;
  scale: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
label,
input,
input::placeholder {
  font-family: "Sunflower", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-style: normal;
}

small,
.font__notosans {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#root {
  height: 100%;
}
