.login_wallpaper {
  @apply bg-[url("/images/wallpaper/login-wp.avif")] bg-no-repeat bg-cover bg-center 
        scale-110 brightness-50 w-full h-full absolute top-0 left-0;
}
.join_wallpaper {
  @apply bg-[url("/images/wallpaper/join-wp.avif")] bg-no-repeat bg-cover bg-center 
        scale-110 brightness-50 w-full h-full absolute top-0 left-0;
}
