@layer components {
  .glass-white {
    backdrop-filter: blur(20px) opacity(50%)
      drop-shadow(4px 4px 10px var(--ck-white));
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 5px #bfbfbf;
  }
}
