@layer components {
  .glass-white {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px) drop-shadow(4px 4px 10px var(--ck-white));
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 5px #bfbfbf;
  }
}
